<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint2_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:57:34</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Get_executor()[pri:0, instance:Test_package.Get_TC1@65b104b9]">Get_executor</td> 
  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:57:35</td>   <td>1186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Patch_executor()[pri:0, instance:Test_package.Patch_TC1@49c66ade]">Patch_executor</td> 
  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:57:33</td>   <td>-320</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TC1.Test_Setup()[pri:0, instance:Test_package.Get_TC1@65b104b9]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:57:33</td>   <td>-315</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TC1.Test_Setup()[pri:0, instance:Test_package.Patch_TC1@49c66ade]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:57:36</td>   <td>2098</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TC1.Test_Teardown()[pri:0, instance:Test_package.Patch_TC1@49c66ade]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:57:36</td>   <td>2097</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TC1.Test_Teardown()[pri:0, instance:Test_package.Get_TC1@65b104b9]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
</table>
