<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Test_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="858c6f">  <td>23/12/22 16:50:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TC1.Test_Teardown()[pri:0, instance:Test_package.Post_TC1@4ff8d125]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="858c6f">  <td>23/12/22 16:50:15</td>   <td>-3840</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TC1.Test_Setup()[pri:0, instance:Test_package.Post_TC1@4ff8d125]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="b3d178">  <td>23/12/22 16:50:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Patch_TC1.Test_Teardown()[pri:0, instance:Test_package.Patch_TC1@4f3bbf68]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="99c6b5">  <td>23/12/22 16:50:17</td>   <td>-2036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.Get_executor()[pri:0, instance:Test_package.Get_TC1@479460a6]">Get_executor</td> 
  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="6374ef">  <td>23/12/22 16:50:17</td>   <td>-1505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.Put_executor()[pri:0, instance:Test_package.Put_TC1@7164ca4c]">Put_executor</td> 
  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="6374ef">  <td>23/12/22 16:50:19</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TC1.Test_Teardown()[pri:0, instance:Test_package.Put_TC1@7164ca4c]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="99c6b5">  <td>23/12/22 16:50:19</td>   <td>-1</td> <td>&nbsp;</td><td title="&lt;&lt;Get_TC1.Test_Teardown()[pri:0, instance:Test_package.Get_TC1@479460a6]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="b3d178">  <td>23/12/22 16:50:18</td>   <td>-755</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.Patch_executor()[pri:0, instance:Test_package.Patch_TC1@4f3bbf68]">Patch_executor</td> 
  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="6374ef">  <td>23/12/22 16:50:15</td>   <td>-3817</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TC1.Test_Setup()[pri:0, instance:Test_package.Put_TC1@7164ca4c]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="858c6f">  <td>23/12/22 16:50:15</td>   <td>-3791</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.Post_executor()[pri:0, instance:Test_package.Post_TC1@4ff8d125]">Post_executor</td> 
  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="99c6b5">  <td>23/12/22 16:50:14</td>   <td>-4138</td> <td>&nbsp;</td><td title="&gt;&gt;Get_TC1.Test_Setup()[pri:0, instance:Test_package.Get_TC1@479460a6]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
<tr bgcolor="b3d178">  <td>23/12/22 16:50:14</td>   <td>-4133</td> <td>&nbsp;</td><td title="&gt;&gt;Patch_TC1.Test_Setup()[pri:0, instance:Test_package.Patch_TC1@4f3bbf68]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@464649704</td>   <td></td> </tr>
</table>
