<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b577ab">  <td>24/01/04 11:42:16</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Data_Driven_diff_class.Test_Setup()[pri:0, instance:TestNG_Dataprovider.Data_Driven_diff_class@f09733f]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@498931366</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>24/01/04 11:42:19</td>   <td>2863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_Driven_diff_class.Post_executor(java.lang.String,java.lang.String)[pri:0, instance:TestNG_Dataprovider.Data_Driven_diff_class@f09733f]">Post_executor</td> 
  <td>main@498931366</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>24/01/04 11:42:19</td>   <td>3519</td> <td>&nbsp;</td><td title="&lt;&lt;Data_Driven_diff_class.Test_Teardown()[pri:0, instance:TestNG_Dataprovider.Data_Driven_diff_class@f09733f]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@498931366</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>24/01/04 11:42:19</td>   <td>2863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_Driven_diff_class.Post_executor(java.lang.String,java.lang.String)[pri:0, instance:TestNG_Dataprovider.Data_Driven_diff_class@f09733f]">Post_executor</td> 
  <td>main@498931366</td>   <td></td> </tr>
<tr bgcolor="b577ab">  <td>24/01/04 11:42:19</td>   <td>2863</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Data_Driven_diff_class.Post_executor(java.lang.String,java.lang.String)[pri:0, instance:TestNG_Dataprovider.Data_Driven_diff_class@f09733f]">Post_executor</td> 
  <td>main@498931366</td>   <td></td> </tr>
</table>
