<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Rest_API_Sprint1_Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:56:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.Post_executor()[pri:0, instance:Test_package.Post_TC1@1b75c2e3]">Post_executor</td> 
  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:56:11</td>   <td>1722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.Put_executor()[pri:0, instance:Test_package.Put_TC1@49c66ade]">Put_executor</td> 
  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:56:09</td>   <td>-34</td> <td>&nbsp;</td><td title="&gt;&gt;Put_TC1.Test_Setup()[pri:0, instance:Test_package.Put_TC1@49c66ade]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:56:09</td>   <td>-342</td> <td>&nbsp;</td><td title="&gt;&gt;Post_TC1.Test_Setup()[pri:0, instance:Test_package.Post_TC1@1b75c2e3]">&gt;&gt;Test_Setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d8ae8b">  <td>23/12/22 16:56:11</td>   <td>2435</td> <td>&nbsp;</td><td title="&lt;&lt;Put_TC1.Test_Teardown()[pri:0, instance:Test_package.Put_TC1@49c66ade]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
<tr bgcolor="d7d6fb">  <td>23/12/22 16:56:11</td>   <td>2434</td> <td>&nbsp;</td><td title="&lt;&lt;Post_TC1.Test_Teardown()[pri:0, instance:Test_package.Post_TC1@1b75c2e3]">&lt;&lt;Test_Teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@616207929</td>   <td></td> </tr>
</table>
